<div class="p-2 doNotPrint b-b">
    <button class="btn btn-sm btn-primary " (click)="addAttachment()" data-target="#m-model" title="" id="btn-trash"
        data-original-title="Trash">Add Attachment
    </button>
</div>
<div class="card">
    <div class="mat-elevation-z88">
        <table class="table" mat-table matSort [dataSource]="dataSource" style="width: 100%;">
            <ng-container matColumnDef="dts">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1"> Date Added</th>
                <td mat-cell *matCellDef="let element">{{element.dts | date:'mediumDate' }}</td>
            </ng-container>
            <ng-container matColumnDef="attachmentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1">Attachment Name </th>
                <td mat-cell *matCellDef="let element"> {{element.attachmentName}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="attachmentType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachment Type</th>
                            <td mat-cell *matCellDef="let element"> {{element.attachmentType}}</td>
                        </ng-container> -->

            <ng-container matColumnDef="attachmentUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1">Attachment Url</th>
                <td mat-cell *matCellDef="let element"><a target="_blank"
                        href="{{element.rawUrl}}">{{element.attachmentUrl}}</a> </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="client-info-action-hide" id="th1"> Action</th>
                <td mat-cell *matCellDef="let element" class="client-info-action-hide">
                    <span class="action-mat-btn">
                        <!-- <button class="btn btn-success btn-icon btn-sm " (click)="loadexpense(element.attachmentId)"
                        rel="tooltip" type="button" data-original-title="" title=""><i
                            class="i-con i-con-edit"><i></i></i></button> -->
                        &nbsp;
                        <button class="btn btn-danger btn-icon btn-sm " (click)="delete(element.attachmentId)"
                            rel="tooltip" type="button" data-original-title="" title=""><i
                                class="i-con i-con-trash"><i></i></i></button>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[50,100,150]" showFirstLastButtons></mat-paginator> -->
    </div>
</div>



<div id="#open-model" class="modal" data-backdrop="true" style="display: block; background:   #0000008c;"
    *ngIf="ModalOpen" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Document</h5>
            </div>
            <div class="modal-body p-lg">
                <form class="kt-form kt-form--label-right" [formGroup]="attachmentForm">
                    <div class="kt-portlet__body" style="padding-left: 40px; padding-right: 40px;">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="control-label" class="required">Attachment Name</label>
                                <input class="form-control" type="text" formControlName="attachmentName"
                                    required="required"
                                    [ngClass]="{ 'is-invalid': submitted && f.attachmentName.errors }" />
                                <div *ngIf="submitted && f.attachmentName.errors" class="invalid-feedback">
                                    <div *ngIf="f.attachmentName.errors.required">
                                        Attachment Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" class="required">Attachment</label>
                                <input type="file" class="form-control" style="opacity:1 !important"
                                    (change)="handleFileInput($event.target.files)">
                                <input class="form-control d-none" formControlName="attachmentUrl" required="required">
                                <br>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 d-none">
                                <label class="control-label ">Attachment Type</label>
                                <ng-select formControlName="attachmentType">
                                    <ng-option *ngFor="let obj of attachmentType" value="{{obj?.lookup_Value}}">
                                        {{obj?.lookup_Name}}</ng-option>

                                </ng-select>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" (click)="cancel()">
                            Cancel
                        </button>
                        <input type="submit" (click)="saveAttatchment()" class="btn btn-success" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>