<div>
  <form novalidate="" [formGroup]="EditForm">
    <div class="card">
      <div class="px-4 py-4">
        <div class="row mb-2">
          <div class="col-12">
            <h5 class="text-muted">Weekday Setup</h5>
          </div>
        </div>
        <!-- General -->

        <div class="row mb-2 align-items-center">
          <div class="col-2">
            <small class="text-muted">Week-Type</small>
            <div class="my-2">
              <select
                class="form-control"
                formControlName="weekType"
                (change)="selectStatus($event.target.value)"
              >
                <option selected>--select--</option>
                <option
                  *ngFor="let obj of WeekDay"
                  value="{{ obj?.lookup_Value }}"
                >
                  {{ obj?.lookup_Name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Monday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="monday"
              />
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Tuesday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="tuesday"
              />
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Wednesday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="wednesday"
              />
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Thursday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="thursday"
              />
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Friday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="friday"
              />
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Saturday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="saturday"
              />
            </div>
          </div>
          <div class="col-2">
            <small class="text-muted">Sunday</small>
            <div class="my-2">
              <input
                type="number"
                class="form-control"
                formControlName="sunday"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <input
          type="submit"
          value="Save"
          (click)="saveUpdate()"
          class="btn btn-primary float-right"
          style="margin-left: 5px"
        />
        &nbsp; &nbsp;
        <!-- <input type="submit" value="Cancel" class="btn btn-secondary float-right"> -->
      </div>

      <!-- Table -->
      <div class="card-body p-0 mt-5">
        <div class="datatable">
          <div>
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="weekType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  WeekTypeng 
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.weekType == 1 ? "Odd" : "Even" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="monday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Monday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.monday }}</td>
              </ng-container>

              <ng-container matColumnDef="tuesday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Tuesday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.tuesday }}</td>
              </ng-container>
              <ng-container matColumnDef="wednesday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Wednesday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.wednesday }}</td>
              </ng-container>
              <ng-container matColumnDef="thursday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Thursday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.thursday }}</td>
              </ng-container>
              <ng-container matColumnDef="friday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Friday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.friday }}</td>
              </ng-container>
              <ng-container matColumnDef="saturday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Saturday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.saturday }}</td>
              </ng-container>

              <ng-container matColumnDef="sunday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Sunday
                </th>
                <td mat-cell *matCellDef="let row">{{ row.sunday }}</td>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Actions
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  class="dropdown options-dropdown"
                >
                  <div>
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                            rel="tooltip" (click)="EditLeaveInfo(row.id)" style="padding: 2px 7px;">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"
                                                width="30px" height="30px" fill-rule="nonzero">
                                                <g fill="#fff" fill-rule="nonzero" stroke="none" stroke-width="1"
                                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                                    stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                    font-weight="none" font-size="none" text-anchor="none"
                                                    style="mix-blend-mode: normal">
                                                    <g transform="scale(3.55556,3.55556)">
                                                        <path
                                                            d="M38.406,22.234l11.36,11.36l-20.982,20.982l-12.876,4.307c-1.725,0.577 -3.367,-1.065 -2.791,-2.79l4.307,-12.876zM41.234,19.406l5.234,-5.234c1.562,-1.562 4.095,-1.562 5.657,0l5.703,5.703c1.562,1.562 1.562,4.095 0,5.657l-5.234,5.234z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </button>&nbsp; -->
                    <button
                      class="btn btn-danger"
                      (click)="DeleteLeaveInfo(row.id)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0,0,256,256"
                        width="23px"
                        height="23px"
                        fill-rule="nonzero"
                      >
                        <g
                          fill="#fff"
                          fill-rule="nonzero"
                          stroke="none"
                          stroke-width="1"
                          stroke-linecap="butt"
                          stroke-linejoin="miter"
                          stroke-miterlimit="10"
                          stroke-dasharray=""
                          stroke-dashoffset="0"
                          font-family="none"
                          font-weight="none"
                          font-size="none"
                          text-anchor="none"
                          style="mix-blend-mode: normal"
                        >
                          <g transform="scale(8.53333,8.53333)">
                            <path
                              d="M13,3c-0.26757,-0.00363 -0.52543,0.10012 -0.71593,0.28805c-0.1905,0.18793 -0.29774,0.44436 -0.29774,0.71195h-5.98633c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-5.98633c0,-0.26759 -0.10724,-0.52403 -0.29774,-0.71195c-0.1905,-0.18793 -0.44836,-0.29168 -0.71593,-0.28805zM6,8v16c0,1.105 0.895,2 2,2h14c1.105,0 2,-0.895 2,-2v-16z"
                            ></path>
                          </g>
                        </g>
                      </svg>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter
                </td>
              </tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[30, 60, 90]"
              aria-label="Select page of users"
            >
            </mat-paginator>
          </div>
        </div>
        <!-- <div class="mt-primary">
                    <div>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <nav style="display: none;">
                                <ul class="pagination justify-content-center justify-content-md-end mb-0">
                                    <li class="page-item disabled">
                                        <a aria-label="Previous" class="page-link border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-arrow-left">
                                                <line x1="19" y1="12" x2="5" y2="12"></line>
                                                <polyline points="12 19 5 12 12 5">
                                                </polyline>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link border-0 active disabled">1</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a aria-label="Next" class="page-link border-0 align-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-arrow-right menu-arrow">
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                                <polyline points="12 5 19 12 12 19">
                                                </polyline>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>
  </form>
</div>
