<!-- New Ui -->
<div class="container-fluid">
    <div id="app">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-2 ">
                <!-- <div class="back-image"> </div> -->
            </div>
            <div class="col-12 col-sm-12 col-md-4  ">
                <div class="login-form d-flex align-items-center">
                    <form [formGroup]="loginForm" class="sign-in-sign-up-form w-100">
                        <div class="text-center mb-4">
                            <img src="assets/Logo/Square.png" alt="" class="img-fluid logo">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <h4 class="text-center mb-0">Hi!</h4>
                                <label class="text-center d-block">Reset Password</label>
                            </div>
                        </div>
                        <div class="form-group" placeholder="Enter your Email"><label class="">Old Password </label>
                            <small class="text-muted font-italic"></small>
                            <div>
                                <input type="email" formControlName="old_Password"
                                    placeholder="Enter your old password " autocomplete="false" class="form-control ">
                            </div>
                        </div>
                        <div class="form-group" placeholder="Enter your password"><label class=""> New Password</label>
                            <small class="text-muted font-italic">(password should be minimum 8 characters ,mixture of
                                number and alphabets)</small>
                            <div>
                                <input type="email" formControlName="password" placeholder="Enter your password"
                                    autocomplete="false" class="form-control ">
                            </div>
                        </div>
                        <div class="form-group" placeholder="Enter your password" show-password="true">
                            <label>Confirm New Password</label>
                            <small class="text-muted font-italic"></small>
                            <div>
                                <div class="form-group-with-icon">
                                    <input type="password" formControlName="confirmPassword"
                                        placeholder="Enter your password" autocomplete="false"
                                        class="form-control  text-right-padding">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12"><button type="submit" (click)="resetPwd()"
                                    class="btn text-center d-inline-flex btn-block text-center btn-primary">
                                    <span class="w-100">
                                        Submit
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!-- <div class="form-row" style="margin-top: 26px;">
                            <div class="col-12"><a [routerLink]="['/login']" class="bluish-text"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-arrow-left">
                                        <line x1="19" y1="12" x2="5" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg>
                                    &nbsp;Back to Login
                                </a></div>
                        </div> -->

                        <div class="form-group">
                            <div class="col-12">
                                <p class="text-center mt-5 footer">
                                    Copyright @ {{year}} by 11 Square Solutions
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>