<div class="content-wrapper">
  <h4 style="margin-bottom: 0.5rem; font-weight: 500;line-height: 1.2;font-size: 1.5rem;">Dashboard</h4>
  <br><br>

  <!-- admin dashbaord -->
  <div class="row" *ngIf="IsSuperAdmin()">
    <div class="col-12 col-lg-8 mb-4 mb-lg-0">
      <div class="card card-with-shadow border-0 py-primary mb-primary">

        <div class="card-body p-0">
          <div class="d-flex justify-content-between pl-primary mb-5 mt-4">
            <div>
              <h1 class="margin-bottom-8">Hi, {{first_Name}}</h1>
              <h5><span class={{iconColor}}><i class={{wishing}}></i></span> {{greeting}} ! </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="position-relative">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="card card-with-shadow border-0 mb-primary">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                  <h2 class="mb-0"><i class='fas fa-user-alt' style='color:green'></i>&nbsp;{{EmployeeList}}</h2>
                  <h5 class="text-muted text-size-14 mb-0 card-body-sub-title">Total employees</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card card-with-shadow border-0 mb-primary">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                  <h2 class="mb-0"><i class='fas fa-users' style='color:rgb(67, 67, 250);'></i>&nbsp;6</h2>
                  <h5 class="text-muted text-size-14 mb-0">Total departments</h5>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div class="card card-with-shadow border-0">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                  <h2 class="mb-0"><i class='fas fa-user-clock' style='color:orange;'></i>&nbsp;{{LeaveReq}}</h2>
                  <h5 class="text-muted text-size-14 mb-0">Total leave requests</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card card-with-shadow border-0">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                  <h2 class="mb-0"><i class='fas fa-mug-hot'></i>&nbsp;{{OnLeaveToday}}</h2>
                  <h5 class="text-muted text-size-14 mb-0">On leave today</h5>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-v-0fc13126="" class="col-12 col-lg-4">
      <div data-v-670eb1ce="" data-v-0fc13126="" class="card card-with-shadow border-0 h-100">
        <div data-v-670eb1ce="" class="card-header bg-transparent p-3">
          <div class="row">
            <div class="col-md-10 col-10">
              <h4 data-v-670eb1ce="" class="card-title text-capitalize mb-0">People on Weekoff</h4>
            </div>
            <div class="col-md-2 col-2">
              <i class="fas fa-bed" style="color: orange; font-size: 20px"></i>
            </div>
          </div>
        </div>
        <div class="card">
          <table mat-table [dataSource]="dataSource2" matSort>
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
            </ng-container>

            <ng-container matColumnDef="tillDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Till Date</th>
              <td mat-cell *matCellDef="let row">{{ row.tillDate }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 mb-lg-0">
      <div class="card card-with-shadow border-0 h-100 min-height-350 mt-primary" style="top:30px;">
        <div class="card-header bg-transparent p-primary d-flex justify-content-between align-items-center">
          <h4 class="card-title text-capitalize mb-0 pt-2 pb-2">Announcements</h4>
        </div>
        <div class="card-body d-flex flex-column p-0">
          <div>
            <div class="datatable">
              <div class="table-responsive custom-scrollbar table-view-responsive py-primary">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th track-by="0" class="datatable-th p-2"><span class="font-size-default"><span>
                            Title
                          </span></span></th>
                      <th track-by="1" class="datatable-th p-2"><span class="font-size-default"><span>
                            Start date
                          </span></span></th>
                      <th track-by="2" class="datatable-th p-2"><span class="font-size-default"><span>
                            End date
                          </span></span></th>
                      <th track-by="3" class="datatable-th p-2"><span class="font-size-default"><span>
                            Description
                          </span></span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-title="Title" class="datatable-td">
                        <span>Test Holiday</span>
                      </td>
                      <td data-title="Start date" class="datatable-td">
                        <span>08 Nov, 22</span>
                      </td>
                      <td data-title="End date" class="datatable-td">
                        <span>10 Nov, 22</span>
                      </td>
                      <td data-title="Description" class="datatable-td">
                        <span class="">
                          <div data-v-d2a86e6e="" index="3">
                            <button class="btn btn-primary" (click)="Announcements()">
                              View details
                            </button>
                          </div>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="p-primary">
                <div>
                  <div class="d-flex flex-column flex-md-row justify-content-between">
                    <nav style="display: none;">
                      <ul class="pagination justify-content-center justify-content-md-end mb-0">
                        <li class="page-item disabled"><a href="#" aria-label="Previous" class="page-link border-0"><svg
                              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-arrow-left">
                              <line x1="19" y1="12" x2="5" y2="12"></line>
                              <polyline points="12 19 5 12 12 5"></polyline>
                            </svg></a></li>
                        <li class="page-item"><a href="#" class="page-link border-0 active disabled">1</a></li>
                        <li class="page-item disabled"><a href="#" aria-label="Next"
                            class="page-link border-0 align-content-center"><svg xmlns="http://www.w3.org/2000/svg"
                              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-arrow-right menu-arrow">
                              <line x1="5" y1="12" x2="19" y2="12"></line>
                              <polyline points="12 5 19 12 12 19"></polyline>
                            </svg></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Employee dashbaord -->
  <div>
    <div *ngIf="IsEmployee()">
      <div class="row">
        <div class="col-12 col-lg-8 mb-4 mb-lg-0">
          <div class="card">
            <div class="card-body p-0">
              <div class="d-flex justify-content-between pl-primary mb-5 mt-4">
                <div>
                  <h4 style="margin: 2px 0 0px">Hi, {{first_Name}}</h4>
                  <h3>{{greeting}}!</h3>
                </div>
                <div>
                  <button class="btn" style="background-color:#FC6510; color:#fff">Early</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Large Coloun End -->
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
          <div class="card card-with-shadow border-0 mb-primary">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <h2 class="mb-0">33</h2>
                <h5 class="text-muted text-size-14 mb-0">Total leave allowance</h5>
              </div>
              <div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-brand-color margin-right-5"></div>
                  <p class="text-size-13 mb-0">AL- 16</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">SL- 17</p>
                </div>
                <div class="d-flex align-items-center">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">RL - 15</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-3">
          <div class="card card-with-shadow border-0 mb-primary">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <h2 class="mb-0">2</h2>
                <h5 class="text-muted text-size-14 mb-0">Total leave taken</h5>
              </div>
              <div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-brand-color margin-right-5"></div>
                  <p class="text-size-13 mb-0">AL - 2</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">SL - 0</p>
                </div>
                <div class="d-flex align-items-center">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">RL - 0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-3 mb-4 mb-md-0">
          <div class="card card-with-shadow border-0">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <h2 class="mb-0">31</h2>
                <h5 class="text-muted text-size-14 mb-0">Total leave available</h5>
              </div>
              <div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-brand-color margin-right-5"></div>
                  <p class="text-size-13 mb-0">AL - 14</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">SL - 17</p>
                </div>
                <div class="d-flex align-items-center">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">RL - 17</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-3">
          <div class="card card-with-shadow border-0">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <h2 class="mb-0">0</h2>
                <h5 class="text-muted text-size-14 mb-0">Leave request pending</h5>
              </div>
              <div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-brand-color margin-right-5"></div>
                  <p class="text-size-13 mb-0">Al - 0</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">SL- 0</p>
                </div>
                <div class="d-flex align-items-center">
                  <div class="width-13 height-13 radius-2 bg-success margin-right-5"></div>
                  <p class="text-size-13 mb-0">RL - 0</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 mb-4 mb-md-0">
          <div class="card card-with-shadow border-0 h-100 min-height-350">
            <div class="card-header bg-transparent p-primary d-flex justify-content-between align-items-center">
              <h5 class="card-title text-capitalize mb-0">Employee statistics</h5>
              <!-- <ul class="nav tab-filter-menu justify-content-flex-end">
                  <li class="nav-item"><a href="#" class="nav-link py-0 active">
                      By employment status
                    </a></li>
                  <li class="nav-item"><a href="#" class="nav-link py-0">
                      By Designation
                    </a></li>
                  <li class="nav-item"><a href="#" class="nav-link py-0">
                      By Department
                    </a></li>
                </ul> -->
            </div>
            <div class="card-body position-relative">
              <div>
                <div class="Chart">
                  <div class="">
                    <div class="chartjs-size-monitor">
                      <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                      </div>
                      <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                      </div>
                    </div><canvas id="horizontal-line-chart" width="1114" height="380"
                      style="display: block; width: 1114px; height: 380px;" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <div class="card card-with-shadow border-0 h-100 min-height-350">
            <div>
              <div class="row justify-content-between mt-3">
                <div class="col-md-6">
                  <h4 class="card-title fw-bolder" style="margin: 12px;">People on Weekoff</h4>
                </div>
                <div class="col-md-6 text-right">
                  <span><i class="fas fa-bed" style="color: orange; font-size: 20px"></i></span>
                </div>
              </div>

              <table mat-table [dataSource]="dataSource2" matSort>
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
                </ng-container>

                <ng-container matColumnDef="tillDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Till Date</th>
                  <td mat-cell *matCellDef="let row">{{ row.tillDate }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- model -->
<div id="m-model" class="modal" data-backdrop="true" style="display: block; background: #0000008c" *ngIf="ModalOpen"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Apply Leave</h3>
      </div>
      <div class="modal-body text-left p-xl">
        <!-- <div> -->
        <div class="row justify-content-between align-items-center">
          <div class="col-md-8">
            <h4 class="card-title fw-bolder">Book time off</h4>
          </div>
          <div class="col-md-1">
            <h4><i class="fas fa-user-alt" style="color: green"></i></h4>
          </div>
        </div><br />


        <form [formGroup]="timeoffForm">

          <div class="form-group mb-5">
            <small class="text-muted">Leave type</small>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="leave_Type">
              <option *ngFor="let obj of _LeaveType" value="{{ obj?.lookup_Value }}">
                {{ obj?.lookup_Name }}
              </option>
            </select>
          </div>

          <div class="form-group mb-5">
            <div class="row mb-4">
              <div class="col-md-12 col-12">
                <div class="nav nav-tabs d-flex justify-content-around align-items-center" id="myTab" role="tablist">
                  <label>Age (Leave duration)</label>
                  <div class="form-check mb-3 mt-2">
                    <input class=" form-check-input active" id="home-tab flexRadioDefault1" data-bs-toggle="tab"
                      data-bs-target="#home-tab-pane" type="radio" role="tab" aria-controls="home-tab-pane"
                      aria-selected="true" name="flexRadioDefault" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Single Day
                    </label>
                  </div>

                  <div class="form-check mb-3 mt-1">
                    <input class=" form-check-input" id="profile-tab flexRadioDefault2" data-bs-toggle="tab"
                      data-bs-target="#profile-tab-pane" type="radio" role="tab" aria-controls="profile-tab-pane"
                      aria-selected="false" name="flexRadioDefault">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Multi Day
                    </label>
                  </div>

                  <div class="form-check mb-3 mt-1">
                    <input class=" form-check-input" id="contact-tab flexRadioDefault3" data-bs-toggle="tab"
                      data-bs-target="#contact-tab-pane" type="radio" role="tab" aria-controls="contact-tab-pane"
                      aria-selected="false" value="Half Day" name="flexRadioDefault">
                    <label class="form-check-label" for="flexRadioDefault3">
                      Half Day
                    </label>
                  </div>
                </div>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">
                    <div>
                      <small class="text-muted">Date</small>
                      <input type="date" formControlName="from_Date" class="form-control" />
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <div class="row justify-content-between">
                      <div class="col-md-6 col-6">
                        <div>
                          <small class="text-muted">To Date</small>
                          <input type="date" formControlName="to_Date" class="form-control" id="floatingInput" />
                        </div>
                      </div>
                      <div class="col-md-6 col-6">
                        <div>
                          <small class="text-muted">From Date</small>
                          <input type="date" formControlName="from_Date" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                    tabindex="0">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-6">
                        <div>
                          <small class="text-muted">Date</small>
                          <input type="date" formControlName="half_Date" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-6 col-6">
                        <div class="row mt-4">
                          <div class="col-md-6 col-6">
                            <div class="form-check ">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1">
                              <small class="text-muted" for="flexRadioDefault1" checked>
                                First half
                              </small>
                            </div>
                          </div>
                          <div class="col-md-6 col-6">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault2">
                              <small class="text-muted" for="flexRadioDefault2">
                                Last half
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group mb-5" *ngIf="this.roleid==0">
            <!-- <label for="exampleFormControlSelect2">Leave Status</label> -->
            <small class="text-muted">Leave Status</small>
            <select class="form-control" id="exampleFormControlSelect2" formControlName="status">
              <option *ngFor="let obj of _LeaveStatus" value="{{ obj?.lookup_Value }}">
                {{ obj?.lookup_Name }}
              </option>
            </select>
          </div>

          <div class="form-group mb-5">
            <small class="text-muted">Reason note</small>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="remark"
              placeholder="Add reason note here"></textarea>
          </div>

          <div class="form-group mb-5">
            <small class="text-muted">Attachments</small>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            Cancel
          </button>
          <button type="button" class="btn btn-primary" (click)="addLeave()">
            <i class="far fa-paper-plane"></i> &nbsp; Book time off
          </button>
        </div>
        <!-- </div> -->


      </div>
    </div>
  </div>
</div>