<div class="p-2 doNotPrint b-b">
    <button class="btn btn-sm btn-primary " (click)="addLookup()" data-target="#m-model" title="" id="btn-trash"
        data-original-title="Trash">Add Contatct
    </button>
</div>
<div class="card">
    <div class="mat-elevation-z888">
        <table class="table" mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="address_Line1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1">Address line 1</th>
                <td mat-cell *matCellDef="let element"> {{element.address_Line1}}</td>
            </ng-container>
            <ng-container matColumnDef="address_Line2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1"> Address line 2 </th>
                <td mat-cell *matCellDef="let element">{{element.address_Line2}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1">city</th>
                <td mat-cell *matCellDef="let element"> {{element.city}}</td>
            </ng-container>
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header id="th1">state</th>
                <td mat-cell *matCellDef="let element"> {{element.state}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef id="th1"> Action</th>
                <td mat-cell *matCellDef="let element">
                    <span class="action-mat-btn">
                        <button class="btn btn-success btn-icon btn-sm" (click)="getEmployeeContact(element.address_Id)"
                            rel="tooltip" type="button" data-original-title="" title=""><i
                                class="i-con i-con-Edit"></i></button>
                        &nbsp;
                        <button class="btn btn-danger btn-icon btn-sm  " (click)="Delete(element.address_Id)"
                            rel="tooltip" type="button" data-original-title="" title=""><i
                                class="i-con i-con-trash"><i></i></i>
                        </button>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>




<div id="m-model" class="modal " data-backdrop="true" style="display: block; background: #0000008c;" *ngIf="ModalOpen"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Contact</h5>
            </div>
            <div class="modal-body text-left p-xl">
                <form class="kt-form kt-form--label-right" [formGroup]="contactForm">
                    <div class="kt-portlet__body" style="padding-left: 40px; padding-right: 40px;">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <small class="text-muted">Address Line1</small>
                                <div class="my-2">
                                    <input type="Address" class="form-control" formControlName="address_Line1">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <small class="text-muted">Address Line2</small>
                                <div class="my-2">
                                    <input type="Address" class="form-control" formControlName="address_Line2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <small class="text-muted"><span class="text-danger">*</span>City</small>
                                <div class="my-2">
                                    <input type="City" class="form-control" formControlName="city" required="required"
                                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                        <div *ngIf="f.city.errors.required">
                                            City is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <small class="text-muted"><span class="text-danger">*</span>State</small>
                                <div class="my-2">
                                    <input type="State" class="form-control" formControlName="state" required="required"
                                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors.required">
                                            State is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <small class="text-muted"><span class="text-danger">*</span>Country</small>
                                <div class="my-2">
                                    <input type="Country" class="form-control" formControlName="country"
                                        required="required" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                        <div *ngIf="f.country.errors.required">
                                            Country is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <small class="text-muted">Pin Code</small>
                                <div class="my-2">
                                    <input type="number" class="form-control" formControlName="pincode" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <small class="text-muted">Contact No1</small>
                                <div class="my-2">
                                    <input type="number" class="form-control" formControlName="contact_No1" minlength=10
                                        maxlength=10>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <small class="text-muted">Contact No2</small>
                                <div class="my-2">
                                    <input type="number" class="form-control" formControlName="contact_No2" minlength=10
                                        maxlength=10>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <small class="text-muted">Website</small>
                                <div class="my-2">
                                    <input type="text" class="form-control" formControlName="website">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <small class="text-muted">Personal Email</small>
                                <div class="my-2">
                                    <input type="email" class="form-control" formControlName="personal_Email" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <small class="text-muted">Comment</small>
                                <div class="my-2">
                                    <textarea type="Comment" class="form-control" formControlName="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveContact()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>