@media (min-width: 768px) {
  .col-sm-offset-2 {
    margin-left: 50.666667%;
  }
}

.footer {
  color: #e43d3d;
  padding-left: 13%;
  padding-bottom: 30px;
}

.modal-dialog {
  background-color: white;
}

.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid rgba(135, 150, 165, 0.1);
}

.mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-top: -30px;
}

.table th,
.table td {
  padding: 5px;
  vertical-align: middle;
  // line-height: 40px;
}

#th1[_ngcontent-yel-c15] {
  color: black;
}

.closeBtn {
  cursor: pointer;
  float: right;
  padding: 0.3rem;
}

.closeBtn:hover {
  background-color: gray;
  border: none;
  border-radius: 50%;
  color: #fff;
}

td.mat-cell[_ngcontent-vpq-c6]:first-of-type,
td.mat-footer-cell[_ngcontent-vpq-c6]:first-of-type,
th.mat-header-cell[_ngcontent-vpq-c6]:first-of-type {
  padding-left: 24px;
}

td.mat-cell[_ngcontent-vpq-c6]:last-of-type,
td.mat-footer-cell[_ngcontent-vpq-c6]:last-of-type,
th.mat-header-cell[_ngcontent-vpq-c6]:last-of-type {
  padding-right: 24px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 24px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

.mat-footer-row[_ngcontent-vpq-c6],
.mat-header-row[_ngcontent-vpq-c6],
.mat-row[_ngcontent-vpq-c6],
td.mat-cell[_ngcontent-vpq-c6],
td.mat-footer-cell[_ngcontent-vpq-c6],
th.mat-header-cell[_ngcontent-vpq-c6] {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

td.mat-cell[_ngcontent-vpq-c6],
td.mat-footer-cell[_ngcontent-vpq-c6],
th.mat-header-cell[_ngcontent-vpq-c6] {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.mat-cell[_ngcontent-vpq-c6],
.mat-footer-cell[_ngcontent-vpq-c6] {
  font-size: 14px;
}

.mat-cell[_ngcontent-vpq-c6],
.mat-footer-cell[_ngcontent-vpq-c6] {
  color: rgba(0, 0, 0, 0.87);
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-cell,
.mat-footer-cell {
  color: rgba(0, 0, 0, 0.87);
}

.mat-cell,
.mat-footer-cell {
  font-size: 14px;
}

.mat-table {
  background: none;
}

.Leave-Details {
  background-color: black;
  // position: relative;
  // bottom: 0;
}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  background: var(--app-background-color);
  padding: 2rem;
  margin-top: 5%;
  position: absolute;
  left: 220px;
  width: calc(100% - 230px);
}

@media (min-width: 200px) and (max-width: 1000px) {
  .content-wrapper {
    margin-top: 15%;
    left: 0;
    width: 100%;
  }

}