.header-title {
  margin: 2rem;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.card-title {
  font-weight: 500 !important;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  width: 70%;
}

td.mat-cell {
  padding-left: 24px;
  padding-right: 24px;
}

.card-height {
  height: 550px;
}

th.mat-header-cell {
  width: 20px;
}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  background: var(--app-background-color);
  padding: 2rem;
  margin-top: 5%;
  position: absolute;
  left: 220px;
  width: calc(100% - 230px);
}

@media (min-width: 200px) and (max-width: 1000px) {
  .content-wrapper {
    margin-top: 15%;
    left: 0;
    width: 100%;
  }
}

.pl-primary {
  padding-left: 2rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.dashboard-widgets.dashboard-icon-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card.card-with-shadow {
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}

.dashboard-widgets.dashboard-icon-widget .icon-wrapper {
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: #019aff;
}

.dashboard-widgets.dashboard-icon-widget .widget-data {
  margin-left: 0.75rem;
}

.icon-wrapper {
  margin: 39px 0px 39px 20px;
}

.text-size-13 {
  font-size: 13px !important;
}

.bg-brand-color {
  background-color: #019aff !important;
}

.bg-brand-color[_ngcontent-kxd-c6] {
  background-color: #019aff !important;
}

.card .card-body {
  padding: 1rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.6rem;
}

.weekOffTable {
  overflow-y: scroll;
}