<div class="d-flex flex-column flex">
    <div>
        <div class="pt-3 p-md-6 d-flex justify-content-center">
            <div class="card p-0 col-lg-3">
            
                    
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Reset Password</h5>
                              </div>
                              <!-- <form class="kt-form kt-form--label-right" [formGroup]="resetPwdFrm">
                                <div class="modal-body p-xl">
                                  <div class="kt-portlet__body" style="padding-left: 40px; padding-right: 40px;">
                                    <div class="row mb-2">
                                      <div class="col-12">
                                      </div>
                                    </div>
                                    <div class="row mb-2">
                                      <div class="col-4">
                                        <label class="col-form-label">Password  <span class="text-danger">*</span></label>
                                        
                                        <input class="form-control"  formControlName="password" value="0"  required="required" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                          <div *ngIf="f.password.errors.required">
                                            Password is required.
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-4">
                                        <label class="col-form-label">Confirm Password  <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="cnfpassword" required="required"  [ngClass]="{ 'is-invalid': submitted && f.cnfpassword.errors }">
                                        <div *ngIf="submitted && f.cnfpassword.errors" class="invalid-feedback">
                                          <div *ngIf="f.cnfpassword.errors.required">
                                            Confirm Password is required.
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                </form> -->
                            </div>
                        </div>
                       <!--    <div class="p-4">
                          <form [formGroup]="resetPwdFrm">
                                <input type="text" hidden formControlName="user_Id">
                                <input type="text" hidden formControlName="old_Password">
                                <div class="form-group">
                                    <label class="required">Password</label>
                                    <input type="password" name="password" formControlName="password"
                                        class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label class="required">Confirm Password</label>
                                    <input type="password" name="cnfpassword" formControlName="confirmPassword"
                                        class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <button type="submit" class="btn center w-sm mb-1 btn-primary"
                                        (click)="resetPwd();">Submit</button>
                                </div>
                            </form>
                        </div> -->
            </div>
        </div>
    </div>
</div>
