<div class="content-wrapper">
    <div class="toolbar">
        <button class="btn btn-white btn-icon btn-sm" (click)="close()" type="button" title="Back To List"
            *ngIf="IsAdmin()">
            <i class="i-con i-con-arrow-left"><i></i></i>
        </button>
    </div>
    <div class="card m-3">
        <div class="card-header bg-dark bg-img p-0 no-border" data-stellar-background-ratio="0.1"
            style="background-image: url(&quot;../assets/img/c1.jpg&quot;); background-position: 50% -119.88px;">
            <div class="" style="background-color: #019aff; color: #fff; border-radius: 0.25rem;">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-9">
                        <div class="row align-items-center p-4">
                            <div class="col-md-3 d-flex justify-content-around align-items-center mb-2">
                                <span class="avatar w-64">
                                    <span *ngIf="this.gender=='Male'">
                                        <img src="../../../assets/Male-avatar.png" alt="image" class="rounded-circle">
                                    </span>
                                    <span *ngIf="this.gender=='Female'">
                                        <img src="../../../assets/Female-avatar.png" alt="image" class="rounded-circle">
                                    </span>
                                </span>
                                <span>
                                    <h3 class="m-0 text-capitalize" style="font-weight: 600;">
                                        {{userInfo?.full_Name}}
                                    </h3>
                                    <span class="m-r">UserId - {{userInfo?.user_Id}}</span>
                                </span>
                            </div>
                            <!-- <div class="col-md-3 d-flex flex-column align-items-center">
                                <h3 class="m-0 text-capitalize" style="font-weight: 600;">{{userInfo?.full_Name}}</h3>
                                <div style="font-weight: 600;">
                                    <span class="m-r">UserId - {{userInfo?.user_Id}}</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-5 d-flex justify-content-center align-items-center">
                        <div class="toolbar float-md-right p-4">
                            <a href="mailto:{{userInfo?.email}}"
                                class="btn btn-sm btn-icon bg-dark-overlay btn-rounded i-con-h-a">
                                <span>
                                    <i class="i-con i-con-mail w-12">
                                        <i></i>
                                    </i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="d-flex nav-active-border nav-active-text-primary b-primary">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link py-3 active" href="#" data-toggle="tab" data-target="#tab_1">
                            Basic Info
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link py-3" href="#" data-toggle="tab" data-target="#tab_4">Attachments
                        </a>
    
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#" data-toggle="tab" data-target="#tab_3">Employee Info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3" href="#" data-toggle="tab" data-target="#tab_4">Leave Info
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="IsAdmin()">
                        <a class="nav-link py-3" href="#" data-toggle="tab" data-target="#tab_5">Weekday Setup
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link py-3" href="#" data-toggle="tab" data-target="#tab_7">Salary Setting
                        </a>
                    </li> -->
                </ul>

            </div>
        </div>


        <form novalidate="" autocomplete="off" [formGroup]="EditForm" autocomplete="off" aria-autocomplete="none">
            <div class="col-sm-12 col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab_1">
                        <div class="card">
                            <div class="px-4 py-4">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <h5 class="text-muted">User Detail</h5>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <small class="text-muted"><span class="text-danger">*</span>First Name</small>
                                        <div class="my-2">
                                            <input type="text" class="form-control" formControlName="first_Name"
                                                required="required"
                                                [ngClass]="{ 'is-invalid': submitted && f.first_Name.errors }"
                                                [attr.disabled]="this.roleid == 9 || this.roleid == 2? '' : null" autocomplete="new-password"/>
                                            <div *ngIf="submitted && f.first_Name.errors" class="invalid-feedback">
                                                <div *ngIf="f.first_Name.errors.required">
                                                    first name is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <small class="text-muted">Last Name</small>
                                        <div class="my-2">
                                            <input type="text" class="form-control" formControlName="last_Name"autocomplete="off"
                                                [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <small class="text-muted">Email</small>
                                        <div class="my-2">
                                            <input type="text" class="form-control" formControlName="email" autocomplete="off"
                                                [attr.disabled]="this.roleid == 0 || this.roleid == 9 || this.roleid == 2 ? '' : null" />
                                        </div>
                                    </div>
                                    <!-- <div class="col-6">
                                        <small class="text-muted">
                                            <span class="text-danger">*</span>Password
                                        </small>
                                        <div class="my-2 input-icons">
                                            <i class="i-con i-con-eye" (click)="showpass()"></i>
                                            <input [attr.type]="isShow ? 'text' : 'password'" autocomplete="off"
                                                formControlName="password" name="password" class="form-control"
                                                placeholder="Password" required="required"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null" />
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">
                                                    Password is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-6">
                                        <small class="text-muted">Manager</small>
                                        <div class="my-2">
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                formControlName="managerId"
                                                [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null">
                                                <option *ngFor="let obj of manager" value="{{ obj.user_Id }}">
                                                    {{ obj?.full_Name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <small class="text-muted">Last Login</small>
                                        <div class="my-2">
                                            <input type="text" class="form-control" disabled autocomplete="off"
                                                formControlName="last_Login"
                                                [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null"
                                                value="{{userInfo?.last_Login |  date:'dd/MM/yyyy'}}">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <small class="text-muted">Role Id</small>
                                        <div class="my-2">
                                            <select class="form-control" formControlName='role_Id' required="required"
                                                [ngClass]="{ 'is-invalid': submitted && f.role_Id.errors }"
                                                [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null">
                                                <div *ngIf="submitted && f.role_Id.errors" class="invalid-feedback">
                                                    <div *ngIf="f.role_Id.errors.required">
                                                    </div>
                                                </div>
                                                <option *ngFor="let obj of userType" value="{{obj.lookup_Value}}">
                                                    {{obj?.lookup_Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label>Country Code </label>
                                            <div>
        
                                                <input type="text" class="form-control" formControlName='mx' disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label>Mobile</label>
                                        <div>
                                            <input type="text" placeholder="mobile" autocomplete="false"
                                                class="form-control" formControlName='mobile'>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <small class="text-muted">Gender</small>
                                        <div class="form-group my-2">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    id="inlineRadio1" value="Male" formControlName="gender"
                                                    [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    id="inlineRadio2" value="Female" formControlName="gender"
                                                    [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null">
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <div>
                                                <input type="text" placeholder="mobile" autocomplete="false"
                                                    class="form-control" formControlName='mobile'>
                                            </div>
                                        </div>
                                    </div>


                                </div> -->
                            </div>

                            <div class="card-footer">
                                <input type="submit" value="Save" (click)="saveEmployee()"
                                    class="btn btn-primary float-right" style="margin-left: 5px;"
                                    [attr.disabled]="this.roleid == 9 || this.roleid == 2 ? '' : null">
                                &nbsp;&nbsp;&nbsp;
                                <input type="submit" value="Cancel" (click)="close()"
                                    class="btn btn-secondary float-right">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade" id="tab_4">
                        <app-global-attachment entityType="User" [entityId]="user_Id"></app-global-attachment>
    
                    </div> -->
                    <div class="tab-pane fade" id="tab_3">
                        <app-employee-info user_Id="{{user_Id}}"></app-employee-info>
                    </div>
                    <div class="tab-pane fade" id="tab_4">
                        <app-leave-policy user_Id="{{user_Id}}"></app-leave-policy>
                    </div>
                    <div class="tab-pane fade" id="tab_5">
                        <app-week-day-setup user_Id="{{user_Id}}"></app-week-day-setup>
                    </div>
                    <!-- <div class="tab-pane fade" id="tab_6">
                        <app-bank-info user_Id="{{user_Id}}"></app-bank-info>
                    </div> -->
                    <!-- <div class="tab-pane fade" id="tab_7">
                        <app-salary-info user_Id="{{user_Id}}"></app-salary-info>
                    </div> -->


                    <!-- <div class="tab-pane show " id="tab_5">
                        <div class="card">
                            <div class="px-4 py-4">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <h5 class="text-muted">Salary Detail</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div> -->
                </div>
            </div>
        </form>



    </div>
</div>